export(adj2mat)
export(bootstrap)
export(buildAracne)
export(buildGenenet)
export(buildSpace)
export(buildWgcna)
export(edgeCutoff)
export(ena)
export(getTableAddressing)
export(mat2adj)
export(simulateNetwork)
export(symmetricize)
export(tri2mat)
importFrom(GeneNet,ggm.estimate.pcor)
importFrom(WGCNA,adjacency)
importFrom(parallel,clusterExport)
importFrom(parallel,parLapply)
importFrom(parmigene,aracne.a)
importFrom(parmigene,knnmi.all)
importFrom(space,space.joint)
