export(adj2mat)
export(bootstrap)
export(buildAracne)
export(buildGenenet)
export(buildSpace)
export(buildWgcna)
export(edgeCutoff)
export(ena)
export(getTableAddressing)
export(mat2adj)
export(simulateNetwork)
export(symmetricize)
export(tri2mat)
